{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container p-3 my-3 bg-primary text-white">
  <a href="{% url 'playlists' %}">
      <h1 style="color: antiquewhite;">Playlist</h1>
  </a>
  <a href="{% url 'playlists' %}">
      <p style="color: antiquewhite;">Browse through your created playlist here.</p>
  </a>
</div>
<div class="container p-3 my-3 bg-primary text-white">
  <a href="{% url 'favourite' %}">
      <h1 style="color: antiquewhite;">Favourites</h1>
  </a>
  <a href="{% url 'favourite' %}">
      <p style="color: antiquewhite;">Browse through your favourite songs here.</p>
  </a>
</div>

{% endblock content %}